@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  strong{
    font-weight: 500;
  }
}

@layer components {
  
}


@layer utilities {
  .txtNorm {
    color: #353f4d;
    font-weight: 300;
    @apply text-sm
  }
  .txtTitle {
    color: #353f4d;
    font-weight: 500;
  }

  .light-1{
    background-color: #eaf1fb;
  }

  .lighter-1{
    background-color : #f6f8fc;
  }
  .light-2{
    background-color: #c2e7ff;
  }

  .lighter-2{
    background-color : rgba(194,231,255,200);
  }

  .strong{
    font-weight: 400;
  }
}

.border-light-1{
  border-color: #eaf1fb;
}
.border-lighter-1{
  border-color: #f6f8fc;
}
.border-light-2{
  border-color: #c2e7ff;
}
.border-lighter-2{
  border-color: rgba(194,231,255,200);
}

.accent-light-1{
  accent-color: #eaf1fb;
}
.accent-lighter-1{
  accent-color: #f6f8fc;
}
.accent-light-2{
  accent-color: #c2e7ff;
}
.accent-lighter-2{
  accent-color: rgba(194,231,255,200);
}