@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  strong{
    font-weight: 500;
  }
}

@layer components {
  
}


@layer utilities {
  .txtNorm {
    color: #313f51;
    font-weight: 300;
    @apply text-sm
  }
  .txtTitle {
    color: #313f51;
    font-weight: 500;
  }

  .light-1{
    background-color: #eaf1fb;
  }

  .lighter-1{
    background-color : #f6f8fc;
  }
  .light-2{
    background-color: #c2e7ff;
  }

  .lighter-2{
    background-color : rgba(194,231,255,200);
  }

  .strong{
    font-weight: 400;
  }
}

